body > * {
    margin-bottom: 2em;
}

#map-container {
  min-height: 300px;
}

.leaflet-container {
    background-color:rgba(255,0,0,0.0);
}

#search-results {
    min-height: 250px;
    overflow-y: scroll;
}
