body > * {
    margin-bottom: 2em;
}

.leaflet-container {
    background-color:rgba(255,0,0,0.0);
}

#list {
    min-height: 250px;
    overflow-y: scroll;
}

.list-group-item-tags {
    text-align: right;
}

.panel-body#list-container {
    padding: 0;
}

